{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4 p-3">
      <img src="{{movie.image.url}}" class=" rounded-start" height="300px" width="100%" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body mx-auto">
        <h5 class="card-title">{{movie.title}}</h5>
         <h2>Short Description</h2>
        <p class="card-text">{{movie.description}}</p>
        <p class="card-text"><small class="text-muted">{{movie.director}}</small></p>
      </div>
    </div>
      <div class="d-flex justify-content-betweeen">
          <a href=" " class="btn btn-light">Update</a>
          <a href="{%url 'delete' movie.id %} " class="btn btn-light">Delete</a>
  </div>
</div>
{% endblock %}