<!--{% extends 'base.html' %}-->

<!--{% block content %}-->
<!--{% load crispy_forms_tags %}-->
<!--<div class="container mt-5 p-5 w-50 border border-2">-->
<!--<h1 style="text-align:center;" class="mt-5">Addmovies</h1>-->
<!--<table>-->
<!--    <tr>-->
<!--        <th>Title</th>-->
<!--        <th>Director</th>-->
<!--        <th>Year</th>-->
<!--        <th>Language</th>-->
<!--        <th>Description</th>-->

<!--    </tr>-->
<!--    {% for i in movies%}-->
<!--    <tr>-->
<!--        <td><img src="{{i.image."</td>-->
<!--        <td>{{i.title}}</td>-->
<!--         <td>{{i.Director}}</td>-->
<!--        <td>{{i.Year}}</td>-->

<!--    </tr>-->
<!--</table>-->
<!--</div>-->
<!--{% endblock %}-->


<!--<ol>-->
<!--    {% for i in movies%}-->
<!--    <li>MovieDetails</li>-->
<!--    <ul>-->
<!--        <li>Title:{{i.title}}</li>-->
<!--        <li>Director:{{i.director}}</li>-->
<!--        <li>Image:<img src="{{i.image.url}}"></li>-->
<!--        <li>Year:{{i.year}}</li>-->
<!--    </ul>-->
<!--    {% endfor %}-->

<!--</ol>-->

<div class="row">
{% for i in movies %}
    <div class="col">
<div class="card" style="width: 15rem;">
  <img src="{{i.image.url}}" class="card-img-top"height="300px" width="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.tittle}}</h5>
      <a href="{% url 'detail' i.id %}" class="btn btn-primary">Details</a>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{i.director}}</li>
    <li class="list-group-item">{{i.language}}</li>
    <li class="list-group-item">{{i.year}}</li>
      <li class="list-group-item">{{i.description}}</li>



  </ul>

</div>
   </div>
{% endfor %}
    </div>
{% endblock %}